.header{
background-color: rgb(106, 82, 211);
border-radius:15px;
margin-right: 5px;
margin-left: 5px;
height: 40px;

}

.toolbar-header{
  background-color:unset;
  border-radius: 15px;
  height:40px;
  width:100%;
}
 .icon-container{
  border-radius: 30px;
  background-color: white;
  width:fit-content;
  height:35px;
 }