
.sucess {
    background: #2196F3;
    color: white;
    font-weight: bold;
    font-size: large;
    width: fit-content;
  }
  .warn{
    background: green;
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: right;
    width: fit-content;



  }
  .error{
    background: red;
    color: white;
    font-weight: bold;
    font-size: large;
    width: fit-content;

  }